#poster-dashboard{
  width: 64vw;
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  padding: 80px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
#poster-dashboard img{
  width: 260px;
}

#poster-dashboard footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#poster-dashboard footer strong{
  font-weight: 800;
}
