a.link-home{
  position: absolute;
  right: 4.0rem;
  top: 4.0rem;

  z-index: 10;

  width: 4.8rem;
  height: 4.8rem;
  background: #D3E2E5;
  border-radius: 2.0rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
  margin-bottom: 8.0rem;
}
