#dashboard{
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#dashboard h1{
  font-size: 10.0rem;
  color: black;
  margin: 3.0rem;
}
#dashboard a{
  color: white;
  font-size: 3.0rem;
  margin-left: 2.0rem;
  text-decoration: none;
  cursor: pointer;
}
@media(max-width: 768px){  
  #dashboard h1{
    font-size: 6rem;
    color: black;
    margin: 3.0rem;
  }
  
}

