#page-new-password{
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}
form.new-password-form {
  width: 36vw;
  height: 100vh;
  margin: 0 auto;

  background: #FFFF;
  border: 1px solid #D3E2E5;

  padding: 120px 60px;

  overflow: hidden;
}

form.new-password-form fieldset {
  border: 0;
}

form.new-password-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

  margin-bottom: 24px;
}
form.new-password-form fieldset p{
  width: 100%;

  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #5C8599;

  margin-bottom: 40px;
}



