#page-signup-completed{
  width: 100vw;
  height: 100vh;
  background: #37C77F;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-signup-completed .content-wrapper{
  position: relative;

  width: 100%;
  max-width: 110.0rem;

  height: 100%;
  max-height: 68.0rem;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
 
  background: url('../../images/eba.svg') no-repeat 80% center;
}

#page-signup-completed .content-wrapper main h1{
  max-width: 35.0rem;
  font-size: 7.6rem;
  font-weight: 900;
  line-height: 7.0rem;
  /* text-align: center; */
}
#page-signup-completed .content-wrapper main p{
  max-width: 40.0rem;
  margin-top: 4.0rem;
  font-size: 2.4rem;
  line-height: 3.4rem;
  /* text-align: center; */
}


#page-signup-completed .content-wrapper .enter-app{
  position: absolute;
  left: 0;
  bottom: 15%;

  width: 24.3rem;
  height: 6.4rem;
  background: #31B272;
  color: #fff;
  text-decoration: none;
  border-radius: 2.0rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

#page-signup-completed .content-wrapper .enter-app:hover{
  background: #3BD689;
}




@media(max-width: 768px){  
  #page-signup-completed{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page-signup-completed .content-wrapper{
    width: 70vw;
    height: 100vh;
    margin-top: 5rem;

    background: url('../../images/eba.svg') no-repeat 80% center;
    background-size: contain;
    background-position: top;

  }
  
  #page-signup-completed .content-wrapper main{
    padding: 20rem 2rem 8rem 2rem;
  }
  #page-signup-completed .content-wrapper main h1{
    max-width: 35.0rem;
    font-size: 4.4rem;
    font-weight: 900;
    line-height: 5rem;
    text-align: left;
  }
  #page-signup-completed .content-wrapper main p{
    max-width: 35.0rem;
    margin-top: 2.0rem;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  
}